<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.nighthawkwallet.android.NighthawkWalletApplication"
        android:allowBackup="false"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config">

        <!-- Alias acts as the entrypoint to the application.
             Using an alias ensures we can refactor the actual Activity without breaking
             clients. -->
        <activity-alias
            android:name="com.nighthawkapps.lib.android.ui.screen.advancesetting.model.OneLauncherAlias"
            android:exported="true"
            android:enabled="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:label="@string/app_name"
            android:targetActivity="com.nighthawkapps.lib.android.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="drk" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

        </activity-alias>

        <activity-alias
            android:name="com.nighthawkapps.lib.android.ui.screen.advancesetting.model.TwoLauncherAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_legacy"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round_legacy"
            android:targetActivity="com.nighthawkapps.lib.android.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="drk" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

        </activity-alias>

    </application>

</manifest>
