<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <!-- Enable profiling by benchmark only in debug builds -->
        <profileable
            android:shell="true"
            tools:targetApi="29" />
    </application>
</manifest>
